.add-item-list {
    border: none;
    border-bottom: 1px solid black;
}

.flash {
    z-index: 1;
    position: absolute;
}

.app {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.alert {
    margin-bottom: 1px;
    height: 50px;
    line-height:50px;
    padding:0px 15px;
  }
  