.add-item-list {
    border: none;
    border-bottom: 1px solid black;
}

.flash {
    position: absolute;
    z-index: 1;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 45%;
    right: 0;
    height: 50px;
}